ion-toolbar {
    --background: #9ABF4B;
    --color: white;
    text-align: center;
}

ion-content {
    --background: #D6F2D5;
}

ion-datetime-button::part(native) {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.aspersor{
    font-size: 18px;
}

.riego{
    font-size: 18px;
}

.dias-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.semana {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 2px;
    padding: 15px; 
    font-size: 18px;
    
    
}

.semana:hover{
    background-color: rgb(199, 199, 199);
    color: white;
}
.semana.selected {
    background-color: #c2ec68;
    color: white;
    font-weight: bold;
}

.guardar {
    background-color: #C6D982;
    color: white;
    border-radius: 5px;
    padding: 0px 50px;
    font-size: 15px;
}

.guardar:hover {
    background-color: rgb(199, 199, 199);
    color: black;
}
